<div class="container-fluid p-5" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path 'hero-img.jpg' %>');background-size:cover;background-position:center; background-attachment: fixed;height:80vh;">
  <div class="row h-100 align-items-center">
    <div class="col">
      <h1 class="text-white"><strong>You wouldn't download a memory... <br>or would you?</strong></h1>

      <div class="mb-5 mt-5 col-6 pl-0">
        <%= render 'shared/search_form' %>
      </div>

      <p><%= link_to '#how', class: 'text-white' do %>
          Find out more <i class="fas fa-chevron-down ml-1"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>
