<div id="slider text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path 'hero-img.jpg' %>');background-size:cover;background-position:center; background-attachment: fixed;height:100vh;">
  Access the collective consciousness and experience things you're too late/lazy to do yourself.
</div>
