// Specific CSS for your home-page

.full-width-highlight {
  background: $primary;
  margin-bottom:50px;

  h2 {
    color: #fff;
  }
}

#home {
  .card-trip-footer > span {
    background: red;
    border-radius: 5px;
  }
}
