  <%= form_tag(experiences_path, method: :get) do %>
    <div class="input-group">
      <%= text_field_tag :title, params[:title], class: 'form-control', placeholder: 'Search for an experience...', 'aria-describedby': 'search-submit'  %>
      <div class="input-group-append">
        <%= submit_tag 'Search', name: nil, class: 'btn btn-primary', id: 'search-submit' %>
      </div>
    </div>
  <% end %>
