</div>
<%= render 'components/home_slider' %>
<div class="container">

  <div id="how" class="row mt-5 mb-5">

    <div class="col-12">
      <h2>How does it work?</h2>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search for an experience</h5>
          <p class="card-text">Ever wondered what it's like to feed a wild boar? Let's go there.</p>
          <a href="#" class="card-link">Browse experiences</a>
        </div>
      </div>
    </div>

    <div class="col-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rent the experience</h5>
          <p class="card-text">Choose how long you want to own this experience -- download it onto your BCI as many times as you want during this period (we won't judge).</p>
        </div>
      </div>

    </div>

    <div class="col-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Return, rinse and repeat</h5>
          <p class="card-text">Once your rental period is done, you can give that experience back. Search our colourful and diverse collection of experiences from users around the world.</p>
        </div>
      </div>

    </div>

    <div class="col-12 text-center mt-5 bmb-5">
      <h2><strong> Your brain doesn't know the difference!</strong><br> Actualize your dreams of meeting Keanu Reeves on the Subway -- the feelings will stay long after your download your experience.</h2>
    </div>
  </div>

  <div class="row">
    <h2>Featured Memories</h2>
  </div>

</div>
