.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  min-height: 400px;
  position: relative;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin-top: 8px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

a .card-trip {
  &:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  }
}

.experience-show {
  img.card-img-top {
    border-radius: 30px;
  }
}

.card-product {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  position: relative;
  display: flex;


}

.card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 20px;
  opacity: 0.7;
  margin-bottom: 8px;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;

}

.card-product .card-product-infos {
  flex-grow: 1;

}

.buttons {
  margin-bottom: 8px;
 }

.description {
  margin: 0;
}

.card-product .trash {
  color: red;
  font-size: 24px;
}

.btn-horizontal-card {
  position: absolute;
  bottom: 16px;
  left: 256px;

}

.card-height-home {
  min-height: 320px;
}

.card-trip-price {
  font-size: 24px;
  padding: 16px;

}

.card {
  // padding: 0 !important;
  border-radius: 10px;
}

.card-category {
  padding: 16px;
}

h3, .h3 {
  font-size: 24px;
  i {
    color: #078379;
  }
}
